h1 {
  text-align: center;
  color: #026670;
  font-size: 56px;
  text-transform: uppercase;
  background: #9FEDD7;
  margin: 0;
  padding-top: 30px;
}


.one, .two {
  color: #FFFFFB;
  text-align: center;
  font-size: 1.2rem;
}

.one, .two {
  padding-bottom: 15vh;
  padding-top: 10px;
}
.one {
  background: #9FEDD7;
  position: relative;
}

p {
  color: #white;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
}

.one::after,
.one::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  background: #9FEDD7;
  bottom: -1em;
  z-index: 100;
}

.one::before {
  right: 50%;
  transform: skew(0, 20deg)
}

.one::after {
  left: 50%;
  transform: skew(0, -20deg)
}


.two {
  background: #FCE181;
  padding-top: 20vh;
  padding-bottom: 30vh;
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
}


.three {
  background: #026670;
  padding: 20vh 0;
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  height: 100vh;
  justify-content: center;
}

a {
  color: #FCE181;

}
 a:hover {
	text-transform: uppercase;
	font-weight: bold;
color: #FCE181;
   text-decoration: none;
 }
