ul {
  list-style-type: none;
  margin: 100;
  padding: 100;
  overflow: hidden;
  background-color: #9FEDD7;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #026670;
  text-decoration-color: white;
  color:white;
}


.caption {
  text-align: center;
  width: 100%;
  display: block;
}

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  max-height: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #B0E0E6;
}

.container:hover .overlay {
  opacity: 0.6;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
