
ul {
  list-style-type: none;
  margin: 0;
  padding: 100;
  overflow: hidden;
  background-color: #9FEDD7;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #026670;
  text-decoration-color: white;
  color:white;
}

 *::before, *::after { box-sizing: border-box }

body {
  font-size: 1rem;
  text-align: center;
  font-family: sans-serif;
  line-height: 1.4;

}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  text-transform: uppercase;
  line-height: .9;
  color: #22D6D1;
}
h1 {
  color: #FCE181;
}
.intro {
  position: relative;
  display: inline-block;
}

p {
  margin-top: .25em;
}


.intro {
  font-size: 4rem;
}



.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


.card {
  position: relative;
  margin: 1em;
  background: #A4ACAB;
}
  .card::before {
      content: " ";
      position: absolute;
      top: 1.25em;
      bottom: 1.25em;
      left: 1.25em;
      right: 1.25em;
      opacity: 1;
      transition: transform ease-out 500ms;
  }

    .card::after {
    content: " ";
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    opacity: 1;
    transition: transform ease-out 500ms;
}

.card::before {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0,1);
  }

.card::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1,0);
  }

.card:hover::before {
    transform: scale(1.05, 1);
  }

.card:hover::after {
    transform: scale(1, 1.05);
  }



.card__img {
  max-width: 100%;
  display: block;
  transition: opacity ease-out 250ms;
  opacity: 1;

}

.card:hover
  .card__img {
    opacity: .2;
  }


.card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: opacity ease-out 250ms;
}

.card:hover .card__text {
  opacity: 1;
}

.card__title {
  font-size: 2rem;
  color: white;
  margin-bottom: 0;
}
